.slider
    cursor: pointer
    overflow: hidden

a.slide-item
    width: 100%
    height: 430px
    display: inline-block
    color: black
    animation-name: fadeIn
    animation-duration: 1s
    animation-timing-function: linear
    animation-delay: 2s
    animation-direction: alternate
    text-decoration: none!important
    cursor: pointer
    line-height: 22px

.slide-group
    padding: 0
    margin: 0!important
    width: 100%!important
    height: 430px

@media (max-width: 767px)
    .slide-group
        height: 830px

    a.slide-item
        height: 830px

.text-yellow
    color: #FFCC00

.f-12-c-gray
    font-size: 10px
    color: rgb(142, 142, 147)
    line-height: 12px

.next, .prev
    cursor: pointer

.f-12
    font-size: 12px

.w-45
    width: 45%

.left-310
    left: 310px

.top-130
    top: 130px

.top-260
    top: 260px


.img01
    top: 270px
    left: 400px
    z-index: 3

.img02
    top: 150px
    left: 115px
    z-index: 2

.img03
    top: 30px
    left: 270px
    z-index: 1

.img04
    top: 350px
    left: 155px
    z-index: 3

.lotc1
    top: 320px
    left: 510px

.lotc2
    top: 400px
    left: 260px


.img09
    left: 250px

.img10
    left: 250px
    top: 130px

.img11
    left: 235px
    top: 260px
    width: 59%

.btn-secound-slide1
    width: 200px
    height: 43px
    border-radius: 20px
    background-color: #ffffff
    color: #71b800
    padding-top: 10px

.btn-secound-slide2
    width: 200px
    height: 43px
    border-radius: 20px
    background-color: #ffffff
    color: #fa9000
    padding-top: 10px

.btn-secound-slide3
    width: 200px
    height: 43px
    border-radius: 20px
    background-color: #ffffff
    color: #0094cb
    padding-top: 10px


.img05
    top: 60px
    left: 140px
    z-index: 2

.img06
    top: 150px
    left: 65px
    z-index: 3

.img07
    left: 180px
    width: 35%
    z-index: 1

.img08
    z-index: 1
    width: 35%

.btn-third-slide
    border: 1px solid #71b800
    width: 150px
    height: 25px
    left: 350px
    top: 340px

@keyframes fadeIn
